body{
  font-family: Helvetica, Arial, sans-serif;
}
p{
  font-size:12px;
}

#Header{
  margin:10px;
  background-color:red;
  color:white;
  text-align:center;
  width:98%;
  border:solid;
  border-color:black;
  border-width:5px;
}

#Logo{
  margin:5px;
  width:70px;
  height:70px;
  float:left;
  border-radius:10px;
}

#Body{
  margin:10px;
  background-color:white;
  height:300px;
  width:98%;
  position:relative;
  float:left;
  text-align:center;
  border:solid;
  border-color:black;
  border-width:5px;
}

#Areas{
  list-style:none;
  color:black;
}

#Horas{
  list-style:none;
  color:black;
}

#DetalleAsistencias a{
  text-decoration:none;
  font-size:14px;
  color:black;
}

#DetalleAsistencias a:hover{
  font-style:italic;
  text-decoration:none;
  font-size:14px;
  color:blue;
}

#PanelAdministrador a{
  text-decoration:none;
  font-size:14px;
  color:black;
}

#PanelAdministrador a:hover{
  font-style:italic;
  text-decoration:none;
  font-size:14px;
  color:blue;
}

#Footer{
  margin:10px;
  background-color:blue;
  color:white;
  width:98%;
  margin-top:350px;
  text-align:center;
  border:solid;
  border-color:black;
  border-width:5px;
}
